* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #16161e;
	color: #c0caf5;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	font-size: 24px;
	color: #3b4261;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	font-size: 24px;
	color: #16161e;
	background: #3b4261;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #3b4261;
}

#workspaces button {
	padding: 0 2px;
}
#workspaces button.focused {
	color: #ff007c;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #3b4261;
	border: #ff007c;
	padding: 0 3px;
}

#pulseaudio {
	color: #ff757f;
}
#memory {
	color: #41a6b5;
}
#cpu {
	color: #9d7cd8;
}
#battery {
	color: #c3e88d;
}
#disk {
	color: #ff9e64;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
